
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- LAYER SLIDER -->
    <link href="~/assets/plugins/slider.layerslider/css/layerslider.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/slider.layerslider/plugins/origami/layerslider.origami.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/slider.revolution.v5/css/pack.css" rel="stylesheet" type="text/css" />


    <!-- THEME CSS -->
    <link href="~/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL SCRIPTS -->
    <link href="~/assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <link href="~/assets/css/Custom.css" rel="stylesheet" type="text/css"/>
</head>

<!--
    AVAILABLE BODY CLASSES:

    smoothscroll 			= create a browser smooth scroll
    enable-animation		= enable WOW animations

    bg-grey					= grey background
    grain-grey				= grey grain background
    grain-blue				= blue grain background
    grain-green				= green grain background
    grain-blue				= blue grain background
    grain-orange			= orange grain background
    grain-yellow			= yellow grain background

    boxed 					= boxed layout
    pattern1 ... patern11	= pattern background
    menu-vertical-hide		= hidden, open on click

    BACKGROUND IMAGE [together with .boxed class]
    data-background="~/assets/images/_smarty/boxed_background/1.jpg"
-->
<body class="smoothscroll enable-animation" style="background-image:url(/Content/Images/fondo.svg);background-position: center 0px; background-repeat: no-repeat;">
    <script src="~/assets/plugins/jquery/jquery-3.3.1.min.js"></script>


    <!-- wrapper -->
    <div id="wrapper">

        <!--
            AVAILABLE HEADER CLASSES

            Default nav height: 96px
            .header-md 		= 70px nav height
            .header-sm 		= 60px nav height

            .b-0 		= remove bottom border (only with transparent use)
            .transparent	= transparent header
            .translucent	= translucent header
            .sticky			= sticky header
            .static			= static header
            .dark			= dark header
            .bottom			= header on bottom

            shadow-before-1 = shadow 1 header top
            shadow-after-1 	= shadow 1 header bottom
            shadow-before-2 = shadow 2 header top
            shadow-after-2 	= shadow 2 header bottom
            shadow-before-3 = shadow 3 header top
            shadow-after-3 	= shadow 3 header bottom

            .clearfix		= required for mobile menu, do not remove!

            Example Usage:  class="clearfix sticky header-sm transparent b-0"
        -->
        @RenderBody()

    </div>
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- FOOTER -->
    @*<footer id="footer">
        <div class="copyright">
            <div class="container">
                <ul class="float-right m-0 list-inline mobile-block">
                    <li><a href="/Home/Index/"> <span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                <span class="glyphicon glyphicon-hand-right"></span> Desarrollado y distribuido por <strong> E - PARTNERS S.R.L. </strong> | 2018
            </div>
        </div>
    </footer>*@
    <!-- /FOOTER -->
    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->
    <!-- JAVASCRIPT FILES -->
    <script>var plugin_path = '/assets/plugins/';</script>

    <!-- LAYER SLIDER -->
    <script src="~/assets/plugins/slider.layerslider/js/layerslider_pack.js"></script>
    <script src="~/assets/plugins/slider.layerslider/plugins/origami/layerslider.origami.js"></script>

    <script src="~/assets/js/view/demo.layerslider_slider.js"></script>



    <!-- SCRIPTS -->
    <script src="~/assets/js/scripts.js"></script>
    <script src="~/assets/plugins/slider.revolution.v5/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/plugins/slider.revolution.v5/js/jquery.themepunch.revolution.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            if (jQuery("#rev_slider_20_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_20_1");
            } else {
                revapi20 = jQuery("#rev_slider_20_1").show().revolution({
                    sliderType: "hero",
                    jsFileLocation: plugin_path + "slider.revolution.v5/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [600, 500, 400, 300],
                    lazyType: "none",
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                    },
                    shadow: 0,
                    spinner: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });
    </script>
    <script src="~/Scripts/Animated-Image.js"></script>

</body>
</html>