
@{
    ViewBag.Title = "E-Partners Gym";
    Layout = "~/Views/Shared/_Institucional.cshtml";
}
<link href="~/assets/css/rotate.css" rel="stylesheet" />
<style>
    section {
        border-bottom: none;
    }
</style>
<div style="background-color:transparent" id="rev_slider_72_1" class="rev_slider fullscreenbanner hide" data-version="5.0.7">
    <ul>
        <!-- SLIDE  -->
        <li data-index="rs-227" data-transition="slidevertical" data-slotamount="1" data-easein="default" data-easeout="default" data-masterspeed="1500" data-thumb="assets/images/_smarty/rs5/express_bglight-100x50.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Intro" data-description="">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption   tp-resizeme"
                 id="slide-227-layer-1"
                 data-x="['right','right','center','center']" data-hoffset="['-254','-453','70','60']"
                 data-y="['middle','middle','middle','bottom']" data-voffset="['50','50','211','25']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-start="2500"
                 data-responsive_offset="on"
                 style="z-index: 5;">
                <img src="~/Content/Images/macbookpro.png" alt="" width="1000" height="600" data-ww="['1000px','1000px','500px','350px']" data-hh="['600px','600px','300px','210px']" data-no-retina>
            </div>
            <!-- LAYER NR. 2 -->
            <div class="tp-caption   tp-resizeme"
                 id="slide-227-layer-2"
                 data-x="['left','left','center','center']" data-hoffset="['828','865','70','60']"
                 data-y="['top','top','top','bottom']" data-voffset="['266','216','580','63']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-start="3350"
                 data-responsive_offset="on"
                 style="z-index: 6;">
                <img src="~/Content/Images/pantalla gym.png" alt="" width="653" height="408" data-ww="['653px','653px','330px','230px']" data-hh="['408px','408px','206px','144px']" data-no-retina>
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption   tp-resizeme"
                 id="slide-227-layer-3"
                 data-x="['left','left','center','center']" data-hoffset="['593','633','-110','-60']"
                 data-y="['top','top','top','bottom']" data-voffset="['253','203','590','20']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-start="2750"
                 data-responsive_offset="on"
                 style="z-index: 7;">
                <img src="~/Content/Images/ipad_dark.png" alt="" width="430" height="540" data-ww="['430px','430px','200px','170px']" data-hh="['540px','540px','251px','213px']" data-no-retina>
            </div>

            <!-- LAYER NR. 4 -->
            <div class="tp-caption   tp-resizeme"
                 id="slide-227-layer-4"
                 data-x="['left','left','left','center']" data-hoffset="['663','703','212','-60']"
                 data-y="['top','top','top','bottom']" data-voffset="['341','291','632','50']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-start="3700"
                 data-responsive_offset="on"
                 style="z-index: 8;">
                <img src="~/Content/Images/tablet.png" alt="" width="290" height="374" data-ww="['290px','290px','135px','115px']" data-hh="['374px','374px','174px','148px']" data-no-retina>
            </div>

            <!-- LAYER NR. 5 -->
            <div class="tp-caption   tp-resizeme"
                 id="slide-227-layer-5"
                 data-x="['left','left','left','left']" data-hoffset="['530','553','127','58']"
                 data-y="['top','top','top','top']" data-voffset="['348','297','622','529']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="x:right;s:1500;e:Power3.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-start="3000"
                 data-responsive_offset="on"
                 style="z-index: 9;">
                <img src="~/Content/Images/ihpone_dark.png" alt="" width="260" height="450" data-ww="['260px','260px','130px','100px']" data-hh="['450px','450px','225px','173px']" data-no-retina>
            </div>

            <!-- LAYER NR. 6 -->
            <div class="tp-caption   tp-resizeme"
                 id="slide-227-layer-6"
                 data-x="['left','left','left','left']" data-hoffset="['576','598','150','75']"
                 data-y="['top','top','top','top']" data-voffset="['431','379','663','560']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                 data-start="3950"
                 data-responsive_offset="on"
                 style="z-index: 10;">
                <img src="~/Content/Images/celular.jpg" alt="" width="170" height="286" data-ww="['170px','170px','85px','66px']" data-hh="['286px','286px','143px','111px']" data-no-retina>
            </div>

            <!-- LAYER NR. 7 -->
            <div class="tp-caption WebProduct-Title   tp-resizeme"
                 id="slide-227-layer-7"
                 data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                 data-y="['middle','middle','top','top']" data-voffset="['-80','-80','137','130']"
                 data-fontsize="['50','50','50','50']"
                 data-lineheight="['90','90','75','70']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-start="1000"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="z-index: 11; color:darkblue; white-space: nowrap;">
                E-PARTNERS GYM<br />
            </div>

            <!-- LAYER NR. 9 -->
            <div class="tp-caption WebProduct-Content   tp-resizeme"
                 id="slide-227-layer-9"
                 data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                 data-y="['middle','middle','top','top']" data-voffset="['129','127','345','316']"
                 data-fontsize="['20','20','20','16']"
                 data-lineheight="['24','24','24','22']"
                 data-width="['448','356','334','277']"
                 data-height="['none','none','76','68']"
                 data-whitespace="normal"
                 data-transform_idle="o:1;"
                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-start="1500"
                 data-splitin="none"
                 data-splitout="none"
                 data-responsive_offset="on"
                 style="text-shadow:none; color:black; z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;">
                Usted podrá hacer un seguimiento de su gimnasio, manejar su caja, saber como vienen con el pago sus alumnos, renovar abonos vencidos y mucho mas...
            </div>

            <!-- LAYER NR. 10 -->
            <div class="tp-caption WebProduct-Button rev-btn "
                 id="freeTestButton"
                 data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
                 data-y="['middle','middle','top','top']" data-voffset="['268','268','456','420']"
                 data-width="none"
                 data-height="none"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Linear.easeNone;"
                 data-style_hover="c:rgba(51, 51, 51, 1.00);bg:rgba(255, 255, 255, 1.00);"
                 data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                 data-transform_out="opacity:0;s:1500;e:Power4.easeIn;s:1500;e:Power4.easeIn;"
                 data-start="1750"
                 data-splitin="none"
                 data-splitout="none"
                 data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-228","delay":""}]'
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 14; white-space: nowrap;letter-spacing:1px;">
                PRUEBA GRATIS 30 DIAS
            </div>
        </li>

    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
</div>

<section style="background-color:transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-8 rotateConainer" id="sampleImages">

                <img style="width:100%; height:100%" class="rotateInLeft start-rotate-left-Position" id="loading" src="~/Content/Images/monitorTerminado.png">

            </div>
            <div class="col-md-4" style="text-align:center">

                <h3>La vida es mejor cuando está organizada</h3>
                <p class="justify black background-blur-white">
                    E-Partners Gym te permite administrar tu gimnasio de manera sensilla. Te ofrecemos un sistema que cuenta con un modulo de caja, gráficos, turnos, fichado, y mucho mas... También podrá crear abonos y asignarcelos a sus alumnos, el sistema lo ayudara a saber quien debe y si su abono se venció. <strong>Usted ocúpese de sus alumnos, nosotros nos encargaremos de la administración</strong>.
                </p>
            </div>

        </div>
    </div>
</section>


<section style="background-color:transparent">
    <div class="container">
        <div class="row">

            <div class="col-md-6" style="text-align:center">

                <h3>... mejor aún si lo hacés con tu smartphone</h3>
                <p class="justify">
                    Además contamos con una aplicación para dispositivos Android con una interfaz amigable e intuitiva que facilita al alumno fichar sus clases con dos opciones comodas y rápidas como lo es el escaneo de un código QR o ingresando su DNI.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 rotateConainer" id="sampleImages-2">

                <img  class="rotateInRight start-rotate-right-Position" id="loading" src="~/Content/Images/ihpone_dark_2.png" style="padding-left:25%">

            </div>
        </div>
    </div>
</section>

<section style="background-color:transparent">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12" style="text-align:center">

                <img src="~/Content/Images/Tablet_dark.png">

            </div>
            <div class="col-lg-4 col-sm-12" style="text-align:center">

                <h3>La vida es mejor cuando está organizada</h3>
                <p class="justify black background-blur-white">
                    E-Partners Gym te permite administrar tu gimnasio de manera sensilla. Te ofrecemos un sistema que cuenta con un modulo de caja, gráficos, turnos, fichado, y mucho mas... También podrá crear abonos y asignarcelos a sus alumnos, el sistema lo ayudara a saber quien debe y si su abono se venció. <strong>Usted ocúpese de sus alumnos, nosotros nos encargaremos de la administración</strong>.
                </p>
            </div>

        </div>
    </div>
</section>


@*<!-- Video -->
    <section>
        <div class="row" style="text-align:center">
            <div class="col-md-6" style="text-align:center; margin:auto">
                <h4>Demo</h4>

                <hr />

                <!-- YOUTUBE VIDEO -->

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="550" height="315" src="https://www.youtube.com/embed/xT4DD-z312Q" frameborder="0" allowfullscreen></iframe>
                </div>

                <hr />

            </div>
        </div>
    </section>
    <!-- /Video -->*@

<script src="~/assets/plugins/slider.revolution.v5/js/jquery.themepunch.tools.min.js"></script>
<script src="~/assets/plugins/slider.revolution.v5/js/jquery.themepunch.revolution.min.js"></script>
<script>
    jQuery(document).ready(function () {
        if (jQuery("#rev_slider_72_1").revolution == undefined) {
            revslider_showDoubleJqueryError("#rev_slider_72_1");
        } else {
            revapi66 = jQuery("#rev_slider_72_1").show().revolution({
                sliderType: "standard",
                jsFileLocation: plugin_path + "slider.revolution.v5/js/",
                sliderLayout: "fullscreen",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "on",
                    keyboard_direction: "vertical",
                    mouseScrollNavigation: "on",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "vertical",
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        hide_onmobile: true,
                        hide_under: 1024,
                        style: "hephaistos",
                        hide_onleave: false,
                        direction: "vertical",
                        h_align: "right",
                        v_align: "center",
                        h_offset: 30,
                        v_offset: 0,
                        space: 5,
                        tmp: ''
                    }
                },

                responsiveLevels: [1240, 1024, 778, 480],
                gridwidth: [1400, 1240, 778, 480],
                gridheight: [868, 768, 960, 720],
                lazyType: "none",
                shadow: 0,
                spinner: "off",
                stopLoop: "on",
                stopAfterLoops: 0,
                stopAtSlide: 1,
                shuffle: "off",
                autoHeight: "off",
                fullScreenAlignForce: "off",
                fullScreenOffsetContainer: jQuery("#header").hasClass('transparent') || jQuery("#header").hasClass('translucent') ? null : "#header",
                fullScreenOffset: "",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    nextSlideOnWindowFocus: "off",
                    disableFocusListener: false,
                }
            });
        }
    });
</script>
